@font-face {
    font-family: 'Quicksand';
    src: url(/static/fonts/Quicksand-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Quicksand';
    src: url(/static/fonts/Quicksand-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Quicksand';
    src: url(/static/fonts/Quicksand-Medium.ttf);
    font-weight: medium;
    font-style: normal;
}
@font-face {
    font-family: 'Quicksand';
    src: url(/static/fonts/Quicksand-Light.ttf);
    font-weight: light;
    font-style: normal;
}