@import '../styles/shared/fonts';

// colors
@import '../styles/shared/colors';


// pages
@import '../styles/shared/index';
@import '../styles/shared/portfolios';

// components
@import '../styles/shared/header';




html, body {
  height:100%;
  width:100%;
  font-family : 'Stylish-Regular';
}

.absolute {
  position: absolute;
}

.error {
  font-weight: 700;
  color: red;
}

.clickable{

    cursor: pointer;
}



.base-page {
  padding: 150px 0 100px 0;
  color: black;
  background-color: #ecedee;
  min-height: 100vh;

  .page-header {
    .page-header-title {
      font-weight: 700;
      color: black;
      display: inline-block;
      margin-bottom: 20px;
    }
  }
}
